# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.next/
coverage/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.*.local

# OS
.DS_Store

# IDE
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporary
.temp/
.tmp/

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.*.*.*.*.json